<ion-header>
  <ion-navbar>
    <ion-title>{{ spot?.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-card *ngIf="!!spot">
    <ion-card-content>
      <ion-card-title>
        {{ spot?.name }}
      </ion-card-title>
      <p>{{ spot.address1 }}</p>
      <p>{{ spot.address2 }}</p>
      <p>{{ spot.tel }}</p>
      <p style="color: #eed755; font-family: 'Ionicons';">
        <a *ngIf="rate_average > 0">&#xf4b3;</a>
        <a *ngIf="rate_average > 1">&#xf4b3;</a>
        <a *ngIf="rate_average > 2">&#xf4b3;</a>
        <a *ngIf="rate_average > 3">&#xf4b3;</a>
        <a *ngIf="rate_average > 4">&#xf4b3;</a>
      </p>
    </ion-card-content>
  </ion-card>

  <div style="width: 100%;">
    <div style="width: 50%; height: 58px; display: flex; justify-content: center; align-items: center;" float-left>このスポットの評価を<br>教えてください</div>
    <div style="width: 50%;" float-right>
      <ion-range min="1" max="5" step="1" snaps="true" class="rate-starts" margin-right [(ngModel)]="my_rate">
      </ion-range>
      <button float-right ion-button small margin-right (click)="submitRate()">送信</button>
    </div>
  </div>

  <p style="font-size: 1.3em; line-height: 2.2; clear: both;" float-left margin-left>
    コメント ( {{ comments.length }}件 )</p>
  <button ion-button float-right margin-top margin-right (click)="openPostCommentModal()">
    <ion-icon name="add"></ion-icon>&nbsp;コメントを投稿
  </button>

  <ion-card *ngFor="let comment of comments; let index = index">
    <ion-card-content>
      <button  float-right ion-button clear (click)="openActionSheet( index )"
               *ngIf="( playerProvider?.player | async )?.uid === comment?.uid">
        <ion-icon name="settings" style="top: 0; position: absolute; right: 0;"></ion-icon>
      </button>
      <ion-card-title>
        {{ comment.title }}
      </ion-card-title>
      {{ comment.comment }}
    </ion-card-content>
    <ion-row>
      <ion-col style="color: #666; font-size: 1.2rem;">
        <span float-left margin-right>
          <img class="thumbnail" [src]="comment?.player?.profile_image_download_url">
        </span>
        <span>
          {{ comment?.player?.displayName }}
        </span><br>
        <span>{{ comment.created_at | unixDate: 'YYYY/MM/DD H:mm' }}</span>
      </ion-col>
      <ion-col>
        <ion-row style="justify-content: flex-end;">
          <button  float-right ion-button clear (click)="goodOrBad( index, 'good' )">
            <img class="good" src="assets/icon/good.svg">{{ getGoodsOrBadsLength( index, 'good') }}
          </button>
          <button  float-right ion-button clear (click)="goodOrBad( index, 'bad' )">
            <img class="bad" src="assets/icon/good.svg">{{ getGoodsOrBadsLength( index, 'bad') }}
          </button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
