page-spot-detail {

}

img {
  &.good, &.bad {
    height: 1.6rem;
    width: auto;
    object-fit: contain;
    margin-right: 10px;
  }

  &.bad {
    transform: scale(-1, -1);
  }

  &.thumbnail {
    max-width: 100%;
    border: 0;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
  }
}