<ion-header>
  <ion-navbar>
    <ion-title>ポーカースポット</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<button type="hidden" ion-button (click)="test()">test</button>-->
  <!--<div [innerHtml]="debug_message"></div>-->
  <div class="map-container">
    <agm-map
            *ngIf="!!my_position"
            [latitude]="center_position.lat()"
            [longitude]="center_position.lng()"
            [zoom]="map_config.zoom"
            [streetViewControl]="false"
    >
      <agm-marker [latitude]="my_position.lat()" [longitude]="my_position.lng()"
                  [title]="'title'" [label]="'現在地'"
                  [iconUrl]="'assets/imgs/map_0.png'"
      >
        <agm-info-window>現在地</agm-info-window>
      </agm-marker>
      <ng-container *ngFor="let spot of ( spots | async ); let index = index">
        <agm-marker *ngIf="!!spot?.latitude && !!spot?.longitude"
                    [latitude]="spot?.latitude"
                    [longitude]="spot?.longitude"
                    [title]="spot.name"
                    [label]="( index + 1 ).toString()"
                    [markerClickable]="true"
                    [openInfoWindow]="true"
                    [animation]="'DROP'"
        >
          <agm-info-window>
            <p>{{ spot.name }}<p>
            <a (click)="showDirection( spot )">経路表示</a>
          </agm-info-window>
        </agm-marker>
        <agm-direction
                *ngIf="!!origin && !!destination"
                [origin]="origin"
                [destination]="destination"
                [travelMode]="'WALKING'"
                [visible]="show_direction"
        >
        </agm-direction>
      </ng-container>
    </agm-map>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="検索 ( 店名、住所、電話 )" [(ngModel)]="filter"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      全{{ ( spots | async )?.length }}件
    </ion-list-header>
    <ion-item *ngFor="let spot of spots | async; let index = index">
      <a (click)="setCenterPosition( spot, event )">{{ index + 1 }}: {{ spot?.name }}</a>
      <p>{{ spot?.address1 + spot?.address2 + ' | ' + spot?.address_description }}</p>
      <p>{{ spot?.tel }}</p>
      <p>Debug: {{ spot?.latitude }} : {{ spot?.longitude }}</p>
    </ion-item>
  </ion-list>
</ion-content>
